<div id="wrapper">
    <h1>New Dojo</h1>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
        <p><%= error %></p>
        <% end %>
    <% end %>
    <form action ="/dojos" method="post">
        <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden">
        <h4>Branch: <input type="text" name="dojo[branch]"/></h4>
        <h4>Street: <input type="text" name="dojo[street]"/></h4>
        <h4>City: <input type="text" name="dojo[city]"/></h4>
        <h4>State: <input type="text" name="dojo[state]"/></h4>
        <input type="submit" value="Create"/>
    </form>
    <br><a href="/dojos">Go Back</a>
</div>
